/******************************************************************************/

/*  COMMON                                                                    */

/******************************************************************************/

body {
    background: none repeat scroll 0 0 black;
    color: #FFFFFF;
    font-family: 'Armata', Arial, Helvetica, sans-serif;
    font-size: 13px;
    height: 4000px;
    line-height: 25px;
    margin: 0;
    padding: 0;
}
.doc-loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
.doc-loader td {
    vertical-align: middle;
    text-align: center;
    background-color: #1f1f1f;
}
a, a:visited, a:active {
    text-decoration: none;
    color: #ffffff;
    border: none;
    outline: none;
}
a:hover {
    color: #ED145B;
}
.clear {
    clear: both;
}
.section {
    width: 100%;
    height: 1100px;
}
.first-section {
    height: 695px;
}
#dis-fixed {
    background: url("../images/mask-content.png") no-repeat scroll center -290px transparent;
    height: 1800px;
    opacity: 0.3;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.showcase {
    height: 1190px;
}
#proposito {
    overflow: hidden;
    width: 100%;
}
.container {
    margin: auto;
    position: relative;
    width: 660px;
    z-index: 4;
}
.showcase-sub-container {
    margin: auto;
    padding-top: 15px;
    width: 922px;
}
/******************************************************************************/

/*  SUBHEADER                                                                 */

/******************************************************************************/



ul.bjqs-controls {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 300px;
    width: 100%;
    z-index: 9999;
}

.bjqs-prev{
	float: left;
}

.bjqs-next{
	float: right;
}


.subheader {
    margin-top: 10px;
    text-align: left;
}
.subheader-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background: transparent url(../images/subheader/icon_plus.png) no-repeat;
    vertical-align: middle;
    display: none;
}
.subheader-text {
    display: inline-block;
    font-family: 'TeXGyreAdventorBold', Arial, Helvetica, sans-serif;
    font-size: 75px;
    letter-spacing: -0.08em;
    line-height: 0.8em;
    vertical-align: middle;
    text-align: left;
    color: #ED145B;
}
.fechar {
    display: block;
    float: right;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 19px;
    font-style: italic;
    letter-spacing: -0.02em;
    margin-top: 24px;
    cursor: pointer;
}

fechar:hover{
    color:#ED145B;
}

.fechar-icon {
    display: block;
    float: right;
    font-family: helvetica, arial;
    font-size: 19px;
    font-style: italic;
    letter-spacing: -0.02em;
    margin-top: 24px;
}


.subheader-separator {
    width: 980px;
    height: 30px;
    margin-top: 50px;
    background: transparent url(../images/subheader/separator.png) no-repeat;
}
#como {
    background: none repeat scroll 0 0 transparent;
    height: 50px;
    left: 50%;
    position: absolute;
    top: 1002px;
    width: 50px;
}
#o-que {
    background: none repeat scroll 0 0 transparent;
    height: 50px;
    left: 50%;
    position: absolute;
    top: 2003px;
    width: 50px;
}
#pessoas {
    background: none repeat scroll 0 0 transparent;
    left: 0;
    position: relative;
    top: 0;
    width: 50px;
}
#interagir {
    background: none repeat scroll 0 0 transparent;
    left: 0;
    position: relative;
    top: 0;
    width: 50px;
}
#our-team {
    background: none repeat scroll 0 0 transparent;
    height: 50px;
    left: 50%;
    position: absolute;
    top: 8580px;
    width: 50px;
}


.yep{

}

.yep span{

}

#news {
    background: none repeat scroll 0 0 transparent;
    height: 50px;
    left: 50%;
    position: absolute;
    top: 9675px;
    width: 50px;
}
#contact-us {
    background: none repeat scroll 0 0 transparent;
    height: 50px;
    left: 50%;
    position: absolute;
    top: 10775px;
    width: 50px;
}
#take-me-home-bg {
    background: url("../images/hands.jpg") repeat scroll center top #1F1F1F;
    height: 1500px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}
#exposure {
    background: url("../images/back-exposure.jpg") repeat scroll center 0 #1F1F1F;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -100px;
    display: none;
}
/******************************************************************************/

/*  NAVEGADOR                                                             */

/******************************************************************************/

#navigation-bg {
    background: none repeat scroll 0 0 #000000;
    bottom: 0;
    height: 45px;
    opacity: 1;
    position: fixed;
    width: 100%;
    z-index: 7;
}
.navigation {
    bottom: 5px;
    height: 30px;
    left: 50%;
    margin-left: -360px;
    position: fixed;
    width: 720px;
    z-index: 7;
    text-align: center;
}
.navigation ul {
    margin: 0;
}
.navigation ul li {
    display: inline-block;
    list-style: none outside none;
    padding: 0 15px;
}
#navegador-a {
    color: #AAAAAA;
    font-size: 15px;
    height: 45px;
    text-align: center;
    z-index: 2;
}
#navegador-a a {
    background: none repeat scroll 0 0 black;
    font-family: 'Armata';
    font-size: 11px;
    padding: 5px;
}
#navegador-a a:hover {} #navegador-ab {
    color: #AAAAAA;
    font-size: 15px;
    height: 45px;
    left: 50%;
    margin-left: -180px;
    position: absolute;
    text-align: center;
    top: 380px;
    width: 185px;
    z-index: 2;
}
#navegador-ab a {
    background: none repeat scroll 0 0 black;
    font-family: 'Armata';
    font-size: 11px;
    padding: 5px;
}
#navegador-ab a:hover {
    background: white;
    color: black;
}
#navegador-ac {
    color: #AAAAAA;
    font-size: 15px;
    height: 45px;
    left: 50%;
    margin-left: 15px;
    position: absolute;
    text-align: center;
    top: 380px;
    width: 110px;
    z-index: 2;
}
#navegador-ac a {
    background: none repeat scroll 0 0 black;
    font-family: 'Armata';
    font-size: 11px;
    padding: 5px;
}
#navegador-ac a:hover {
    background: white;
    color: black;
}
#navegador-ad {
    color: #AAAAAA;
    font-size: 15px;
    height: 45px;
    left: 50%;
    margin-left: 130px;
    position: absolute;
    text-align: center;
    top: 380px;
    width: 140px;
    z-index: 2;
}
#navegador-ad a {
    background: none repeat scroll 0 0 black;
    font-family: 'Armata';
    font-size: 11px;
    padding: 5px;
}
#navegador-ad a:hover {
    background: white;
    color: black;
}
#navegador-b {
    bottom: -50px;
    color: #AAAAAA;
    display: none;
    font-size: 15px;
    height: 45px;
    left: 50%;
    margin-left: -150px;
    position: fixed;
    text-align: center;
    width: 300px;
    z-index: 5;
}
#navegador-b a {
    background: none repeat scroll 0 0 black;
    font-family: armata, arial;
    font-size: 13px;
    padding: 5px;
}
#navegador-b a:hover {
    background: white;
    color: black;
}
#navegador-c {
    bottom: -50px;
    color: #AAAAAA;
    font-size: 15px;
    height: 45px;
    left: 50%;
    margin-left: -153px;
    position: fixed;
    text-align: center;
    width: 300px;
    z-index: 5;
    display: none;
}
#navegador-c a {
    background: none repeat scroll 0 0 black;
    font-family: armata, arial;
    font-size: 13px;
    padding: 5px;
}
#navegador-c a:hover {
    background: white;
    color: black;
}
/******************************************************************************/

/*  TELETRANSPORTE                                                            */

/******************************************************************************/

#branco {
    background: none repeat scroll 0 0 #FFFFFF;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}
#goku {
    background: none repeat scroll 0 0 black;
    cursor: pointer;
    height: 25px;
    left: 390px;
    position: absolute;
    text-align: center;
    top: -461px;
    width: 180px;
    color: #ffffff;
    font-family: 'armata', arial;
    font-size: 13px;
}
#goku: hover {
    background: #ffffff;
    cursor: pointer;
    height: 25px;
    left: 390px;
    position: absolute;
    text-align: center;
    top: -461px;
    width: 180px;
    color: #000000;
}

#my-slideshow{
	margin: auto;
	z-index: 2;
}


/******************************************************************************/

/*  BOTTOM ARROW                                                              */

/******************************************************************************/

.arrow {
    height: 40px;
    margin: 0 auto;
    width: 90px;
}
.01 {
    background-color: #d82545;
}
.02 {
    background-color: #feac58;
}
.03 {
    background-color: #273c67;
}
.04 {
    background-color: #bab932;
}
.05 {
    background-color: #d82545;
}
.06 {
    background-color: #1e1e1e;
}
/******************************************************************************/

/*  NAVIGATION                                                                */

/******************************************************************************/

.navigation-hide {
    display: none;
}
.navigation img {
    margin-left: 50px;
    margin-bottom: 20px
}
.navigation a: hover {} .navigation a.nav-active {
    color: #ffffff;
}
.navigation span {
    padding-left: 10px;
    padding-right: 10px;
}
/******************************************************************************/

/*  BUTTON                                                                    */

/******************************************************************************/

.button {
    position: relative;
    float: right;
    display: inline-block;
    padding: .3em .9em .3em;
    background-color: #ac1f39;
    text-transform: uppercase;
    text-decoration: none;
    -moz-border-radius: .5em;
    /* Firefox */

-webkit-border-radius: .5em;
    /* Safari, Chrome */

border-radius: .5em;
    /* CSS3 */

outline: none;
    cursor: pointer;
}
.button: hover {
    text-decoration: none;
    background-color: #b52540;
}
/******************************************************************************/

/*  FONT FORMATING                                                            */

/******************************************************************************/

.summary-small {

}
.summary {
    font-family: 'Armata', arial;
    font-size: 16px;
    line-height: 1.8em;
    text-align: left;
}
.about .summary, .news .summary {

}
.services .summary {
		line-height: 2.1em;
}
.showcase .summary {

}
.our-team .summary {

}
.contact-us .summary {

}
.team-member-name {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
}
.team-member-position {
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #686716;
}
/******************************************************************************/

/*  BLOCOS                                                                    */

/******************************************************************************/

#bloco-home {
    background: none repeat scroll 0 0 black;
    height: 320px;
    left: 50%;
    margin-left: -480px;
    margin-top: -243px;
    opacity: 0.35;
    position: absolute;
    top: 435px;
    width: 917px;
    z-index: 2;
    display: none;
}
#bloco-a {
    border-radius: 50% 50% 50% 50%;
    height: 447px;
    left: 50%;
    margin-left: -575px;
    margin-top: -1513px;
    opacity: 0.8;
    position: absolute;
    top: 3000px;
    width: 447px;
    z-index: 2;
}
#bloco-b {
    background: none repeat scroll 0 0 black;
    height: 101px;
    left: 50%;
    margin-left: -501px;
    margin-top: -1337px;
    opacity: 0.70;
    position: absolute;
    top: 3000px;
    width: 449px;
    z-index: 2;
    display: none;
}
#bloco-ab {
    border-radius: 50% 50% 50% 50%;
    height: 800px;
    left: -145px;
    opacity: 0.8;
    position: absolute;
    top: -86px;
    width: 800px;
    z-index: -1;
}
#bloco-c {
    background: none repeat scroll 0 0 black;
    height: 86px;
    left: 50%;
    margin-left: -515px;
    margin-top: -2548px;
    opacity: 0.45;
    position: absolute;
    top: 3000px;
    width: 287px;
    z-index: 2;
}
#bloco-d {
    background: none repeat scroll 0 0 black;
    height: 91px;
    left: 50%;
    margin-left: -501px;
    margin-top: -2664px;
    opacity: 0.5;
    position: absolute;
    top: 3000px;
    width: 236px;
    z-index: 2;
    display: none;
}

.section.surgiu > iframe {
    margin-top: 70px;
    position: relative;
    z-index: 6;
}

#bloco-e {
    background: none repeat scroll 0 0 #000000;
    border-radius: 50%;
    height: 970px;
    left: -120px;
    position: absolute;
    top: 0;
    width: 970px;
    z-index: -1;
}

#bloco-e:hover{
    cursor: pointer;    
    background: #ED145B;
}

#bloco-e .subheader-text {
    color: #ED145B;
    display: inline-block;
    font-family: 'TeXGyreAdventorBold',Arial,Helvetica,sans-serif;
    font-size: 75px;
    left: 300px;
    letter-spacing: -0.08em;
    line-height: 0.8em;
    position: relative;
    text-align: left;
    top: 120px;
    vertical-align: middle;
    z-index: 100;
}
#bloco-f {
    background: none repeat scroll 0 0 #111111;
    border-radius: 50%;
    height: 700px;
    left: 70px;
    position: absolute;
    top: 220px;
    width: 700px;
    z-index: -1;
}

#bloco-f:hover{
    cursor: pointer;    
    background: #ED145B;
}

#bloco-f .subheader-text {
    color: #ED145B;
    display: inline-block;
    font-family: 'TeXGyreAdventorBold',Arial,Helvetica,sans-serif;
    font-size: 55px;
    left: 180px;
    letter-spacing: -0.08em;
    line-height: 0.8em;
    position: relative;
    text-align: left;
    top: 90px;
    vertical-align: middle;
    z-index: 100;
}
#bloco-g {
    background: none repeat scroll 0 0 #222222;
    border-radius: 50%;
    height: 480px;
    left: 230px;
    position: absolute;
    top: 400px;
    width: 470px;
    z-index: -1;
}

#bloco-g:hover{
    cursor: pointer;
    background: #ED145B;
}

#bloco-g .subheader-text {
    color: #ED145B;
    display: inline-block;
    font-family: 'TeXGyreAdventorBold',Arial,Helvetica,sans-serif;
    font-size: 41px;
    left: 75px;
    letter-spacing: -0.08em;
    line-height: 0.8em;
    position: relative;
    text-align: left;
    top: 200px;
    vertical-align: middle;
    z-index: 100;
}

#rede, #cooperativa, #empreendimentos{
	position: relative;
}




/******************************************************************************/

/*  BACKGROUND                                                                */

/******************************************************************************/

#grade {
    background: url("../images/grade.png") repeat fixed 0 0 transparent;
    height: 100%;
    position: absolute;
    width: 100%;
}
.first-section {
    background: none repeat scroll 0 0 transparent;
    height: 1000px;
    position: relative;
}
.about {
    height: 1000px;
    overflow: hidden;
    position: relative;
}
.about-scroll {
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 800px;
}
.services {
    height: 1180px;
    overflow: hidden;
    position: relative;
}
.services-scroll {} .showcase {
    height: 1000px;
    overflow: hidden;
    position: relative;
}
.showcase-scroll {
    left: 50%;
    margin-left: -400px;
    position: absolute;
    top: 0;
    width: 800px;
}
.surgiu {
    height: 2000px;
    overflow: hidden;
    position: relative;
    text-align: center;
}


.yep {
    margin-top: 60px;
    position: relative;
    z-index: 6;
}
.yep span {
    border: 1px solid #ffffff;
    font-size: 15px;
    padding: 16px;
}

.yep span:hover {
    border: 1px solid #ED145B;
    color:#ED145B;
    cursor: pointer;
}

#facebook {
    height: 30px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 2px;
    width: 82px;
    z-index: 6;
}
.surgiu-scroll {
    left: 50%;
    margin-left: -330px;
    position: absolute;
    top: 60px;
    width: 620px;
}
.our-team {
    background: url("../images/top_bg/top_bg.png") repeat fixed 0 0 #1F1F1F;
    position: relative;
    height: 3460px;
    overflow: hidden;
    display: none;
}
.our-team-scroll {
    left: 50%;
    margin-left: -490px;
    margin-top: -12260px;
    position: absolute;
    top: 0;
}
.news {
    background-color: #D5191A;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
    position: relative;
    z-index: 2;
    height: 3460px;
    overflow: hidden;
    display: none;
}
.news-scroll {
    left: 50%;
    margin-left: -490px;
    margin-top: -15000px;
    position: absolute;
    top: 0;
}
.contact-us {
    background: url("../images/top_bg/top_bg.png") repeat fixed 0 0 #1F1F1F;
    position: relative;
    height: 3460px;
    overflow: hidden;
}
.contact-us-scroll {
    left: 50%;
    margin-left: -490px;
    margin-top: -17780px;
    position: absolute;
    top: 0;
}
/******************************************************************************/

/*  HEADER                                                                    */

/******************************************************************************/


.people {
    display: block;
    height: 290px;
    text-align: left;
    width: 299px;
}
.people img {
    float: left;
    width: 100px;
}
.people-a {
    left: -50px;
    position: absolute;
    top: 170px;
}
.people .image {
    border-radius: 50%;
    float: left;
    height: 95px;
    margin: 0 12px 0 0;
    overflow: hidden;
    position: relative;
    width: 95px;
}
.people .name {
    color: #ED145B;
    display: block;
    font-weight: bold;
    margin: 10px 0 0;
}
.people .bio {
    display: block;
}


.header-wrapper {
    height: 130px;
    left: 50%;
    margin-left: -435px;
    position: absolute;
    top: 185px;
    width: 882px;
}
.header {
    position: relative;
    z-index: 2;
}

.destaque{
    color: #ED145B;
}

 .rede, .cooperativa, .empreendimentos{
    display:none;
}

.logo {
    background: url("../images/logo/logo40.png") no-repeat scroll 0 0 transparent;
    height: 210px;
    width: 945px;
}
#coolidea {
    background: url("../images/logo/logo-slice_09.png") no-repeat scroll center bottom transparent;
    height: 300px;
    left: 548px;
    position: absolute;
    top: 0;
    width: 188px;
}
#slogan {
    font-family: georgia;
    font-size: 46px;
    font-style: italic;
    left: 50%;
    margin-left: -400px;
    position: absolute;
    top: 330px;
    z-index: 3;
}
#economia-bg {
    background: none repeat scroll 0 0 black;
    border-radius: 50% 50% 50% 50%;
    height: 260px;
    left: 50%;
    margin-left: -401px;
    opacity: 0.8;
    position: absolute;
    top: 261px;
    width: 260px;
    z-index: 2;
    display: none;
}
#economia-bg span {
    float: left;
    font-family: 'Armata', tahoma, arial;
    font-size: 12px;
    line-height: 20px;
    margin-left: 25px;
    margin-top: 115px;
    text-align: center;
    width: 210px;
}
#economia:hover {
    color: #ed145b;
    cursor: default;
}
#criativa-bg {
    background: none repeat scroll 0 0 black;
    border-radius: 50% 50% 50% 50%;
    height: 260px;
    left: 50%;
    margin-left: -200px;
    opacity: 0.8;
    position: absolute;
    top: 261px;
    width: 260px;
    z-index: 2;
    display: none;
}
#criativa-bg span {
    float: left;
    font-family: 'Armata', tahoma, arial;
    font-size: 12px;
    line-height: 20px;
    margin-left: 25px;
    margin-top: 115px;
    text-align: center;
    width: 210px;
}
#criativa:hover {
    color: #ed145b;
    cursor: default;
}
#pluralidade-bg {
    background: none repeat scroll 0 0 black;
    border-radius: 50% 50% 50% 50%;
    display: none;
    height: 300px;
    left: 50%;
    margin-left: 140px;
    opacity: 0.8;
    position: absolute;
    top: 245px;
    width: 300px;
    z-index: 2;
}
#pluralidade-bg span {
    float: left;
    font-family: 'Armata', tahoma, arial;
    font-size: 12px;
    line-height: 20px;
    margin-left: 35px;
    margin-top: 130px;
    text-align: center;
    width: 230px;
}
#pluralidade:hover {
    color: #ed145b;
    cursor: default;
}
#logoa {
    background-image: url("../images/logoa.png");
    background-repeat: no-repeat;
    float: left;
    height: 124px;
    width: 392px;
}
#logoa-bg {
    background: none repeat scroll 0 0 black;
    border-radius: 50% 50% 50% 50%;
    height: 520px;
    left: 50%;
    margin-left: -490px;
    opacity: 0.8;
    position: absolute;
    top: -85px;
    width: 520px;
    z-index: 2;
    display: none;
    transition-duration: 1.3s;
}
#logoa-bg span {
    float: left;
    font-family: 'Armata', tahoma, arial;
    font-size: 12px;
    line-height: 20px;
    margin-left: 80px;
    margin-top: 115px;
    text-align: left;
    width: 390px;
}
#logob {
    background-image: url("../images/logob.png");
    background-repeat: no-repeat;
    float: left;
    height: 127px;
    margin-left: -7px;
    margin-top: -4px;
    width: 494px;
}
#preloading-a {
    background-image: url("../images/logoa-hover.png");
    display: none;
}
#preloading-b {
    background-image: url("../images/logob-hover.png");
    display: none;
}
#logob:hover {
    background-image: url("../images/logob-hover.png");
    background-repeat: no-repeat;
    float: left;
    height: 127px;
    margin-left: -7px;
    margin-top: -4px;
    width: 494px;
}
#logob-bg {
    background: none repeat scroll 0 0 black;
    border-radius: 50% 50% 50% 50%;
    height: 610px;
    left: 50%;
    margin-left: -110px;
    opacity: 0.8;
    position: absolute;
    top: -145px;
    width: 610px;
    z-index: 2;
    display: none;
    transition-duration: 1.3s;
}
#logob-bg span {
    float: right;
    font-family: 'Armata', tahoma, arial;
    font-size: 12px;
    line-height: 20px;
    margin-right: 80px;
    margin-top: 180px;
    text-align: left;
    width: 440px;
}
#logo-c {
    background: url("../images/logo/logo-slice_03_w.png") no-repeat scroll 0 0 transparent;
    height: 300px;
    left: 226px;
    position: absolute;
    top: 0;
    width: 132px;
}
#logo-d {
    background: url("../images/logo/logo-slice_04_w.png") no-repeat scroll 0 0 transparent;
    height: 300px;
    left: 357px;
    position: absolute;
    top: 0;
    width: 78px;
}
#logo-e {
    background: url("../images/logo/logo-slice_05_w.png") no-repeat scroll 0 0 transparent;
    height: 300px;
    left: 445px;
    position: absolute;
    top: 0;
    width: 91px;
}
#logo-f {
    background: url("../images/logo/logo-slice_06_w.png") no-repeat scroll 0 0 transparent;
    height: 250px;
    left: 537px;
    position: absolute;
    top: 0;
    width: 96px;
}
#logo-g {
    background: url("../images/logo/logo-slice_07_w.png") no-repeat scroll 0 0 transparent;
    height: 250px;
    left: 634px;
    position: absolute;
    top: 0;
    width: 92px;
}
#logo-h {
    background: url("../images/logo/logo-slice_08_w.png") no-repeat scroll 0 0 transparent;
    height: 300px;
    left: 726px;
    position: absolute;
    top: 0;
    width: 134px;
}
/******************************************************************************/

/*  GAlLERY                                                                   */

/******************************************************************************/

.galery-wrapper {
    position: relative;
    display: none;
}
.gallery {
    position: relative;
    width: 980px;
    height: 400px;
    overflow: hidden;
}
.gallery-slide-first {
    margin-left: 0 !important;
}
.gallery-slide {
    width: 980px;
    height: 400px;
}
#gallery-nav {
    position: relative;
    top: -25px;
    margin: 0 auto;
    text-align: center;
    display: none;
}
#gallery-nav a {
    display: inline-block;
    width: 75px;
    height: 7px;
    margin-right: 10px;
    background-color: #3c3c3c;
    border: none;
    outline: none;
    cursor: pointer;
}
#gallery-nav a.gallery-nav-active {
    background-color: #e41f3a;
}
/******************************************************************************/

/*  OUR TEAM                                                                  */

/******************************************************************************/

.socio {
    width: 300px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.socio ul {
    margin: 0 auto;
    width: 131px;
    line-height: normal;
}
.socio ul li {
    float: left;
    margin-right: 10px;
}
.socio ul li.last {
    margin-right: 0px;
}
.socio ul li a {
    display: block;
    height: 37px;
    width: 37px;
}
.socio ul li a: active {
    background-position: left bottom;
}
.socio ul li a:hover {
    background-position: left bottom;
}
a.socio_twitter {
    background: transparent url('../images/socio/team_twitter_icon.png') no-repeat;
}
a.socio_facebook {
    background: transparent url('../images/socio/team_facebook_icon.png') no-repeat;
}
a.socio_linkedin {
    background: transparent url('../images/socio/team_linkedin_icon.png') no-repeat;
}
/******************************************************************************/

/*  COLUMNS & MARGINS                                                         */

/******************************************************************************/

#vimeo-a {
    background: none repeat scroll 0 0 black;
    border: 7px solid black;
    border-radius: 3px;
    height: 130px;
    left: 530px;
    opacity: 0.8;
    position: absolute;
    top: 160px;
    width: 230px;
    z-index: 99999;    
}
#vimeo-b {
    background: none repeat scroll 0 0 black;
    border: 7px solid black;
    border-radius: 3px;
    height: 130px;
    left: 530px;
    opacity: 0.8;
    position: absolute;
    top: 350px;
    width: 230px;
    z-index: 99999;
}
.column-300 {
    float: left;
    width: 300px;
}
.column-340 {
    float: left;
    width: 340px;
}
.column-455 {
    float: left;
    text-align: justify;
    width: 390px;
}
.dizeres {} .dizeres p {} .column-525 {
    float: left;
    width: 525px;
}
.column-640 {
    float: left;
    width: 640px;
}
.m-right-40 {
    margin-right: 40px;
}
.m-right-70 {
    margin-right: 0px;
}
.m-right-115 {
    margin-right: 115px;
}
.m-left-40 {
    margin-left: 40px;
}
.m-top-50 {
    margin-top: 20px;
}
.m-top-55 {
    margin-top: 25px;
}
.m-top-70 {
    margin-top: 50px;
    width: 710px;
}
.m-top-80 {
    margin-top: 50px;
    width: 490px;
}
.m-top-95 {
    margin-top: 95px;
}
.m-bottom-10 {
    margin-bottom: 10px;
}
.m-bottom-22 {
    margin-bottom: 22px;
}
.m-bottom-30 {
    margin-bottom: 30px;
}
.m-bottom-40 {
    margin-bottom: 35px;
    margin-top: 8px;
}
.m-bottom-50 {
    margin-bottom: 50px;
}
/******************************************************************************/

/*  PESSOAS                                                                */

/******************************************************************************/

.quem {} .quem span {} .nome {
    float: left;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 22px;
    font-style: italic;
    letter-spacing: -0.02em;
    line-height: 40px;
    margin-top: 15px;
    width: 300px;
}
.faz {
    left: 0;
    line-height: 15px;
    margin: auto;
    position: absolute;
    top: 53px;
    width: 300px;
}
.sobre {
    display: none;
    font-size: 12px;
    line-height: 15px;
    margin-left: 50px;
    position: absolute;
    top: 40px;
    width: 200px;
}
.ajuste {
    position: relative;
    text-align: center;
    width: 100px;
}
#jonatas {
    height: 100px;
    left: 50%;
    margin-left: 0;
    margin-top: -1050px;
    position: absolute;
    text-align: center;
    width: 300px;
    z-index: 2;
}
#jonatas-bg {
    margin-left: 90px;
    margin-top: -1050px;
    opacity: 0.80;
    background: none repeat scroll 0 0 #000000;
    border-radius: 100% 100% 100% 100%;
    height: 100px;
    left: 50%;
    position: absolute;
    text-align: center;
    width: 100px;
}
#marcelo {
    height: 100px;
    left: 50%;
    margin-left: 120px;
    margin-top: -850px;
    position: absolute;
    text-align: center;
    width: 300px;
    z-index: 2;
}
#marcelo-bg {
    margin-left: 210px;
    margin-top: -850px;
    opacity: 0.80;
    background: none repeat scroll 0 0 #000000;
    border-radius: 100% 100% 100% 100%;
    height: 100px;
    left: 50%;
    position: absolute;
    text-align: center;
    width: 100px;
}
#natan {
    height: 100px;
    left: 50%;
    margin-left: 200px;
    margin-top: -1150px;
    position: absolute;
    text-align: center;
    width: 300px;
    z-index: 2;
}
#natan-bg {
    margin-left: 290px;
    margin-top: -1150px;
    opacity: 0.80;
    background: none repeat scroll 0 0 #000000;
    border-radius: 100% 100% 100% 100%;
    height: 100px;
    left: 50%;
    position: absolute;
    text-align: center;
    width: 100px;
}
#atila {
    height: 100px;
    left: 50%;
    margin-left: -20px;
    margin-top: -810px;
    position: absolute;
    text-align: center;
    width: 300px;
    z-index: 2;
}
#atila-bg {
    background: none repeat scroll 0 0 #000000;
    border-radius: 100% 100% 100% 100%;
    height: 100px;
    left: 50%;
    margin-left: 70px;
    margin-top: -810px;
    opacity: 0.80;
    position: absolute;
    text-align: center;
    width: 100px;
}
#portoalegrevc {
    height: 100px;
    left: 50%;
    margin-left: 0;
    margin-top: -2600px;
    position: absolute;
    text-align: center;
    width: 300px;
    z-index: 2;
    cursor: pointer;
}
#portoalegrevc-bg {
    background: none repeat scroll 0 0 #000000;
    border-radius: 100% 100% 100% 100%;
    height: 100px;
    left: 50%;
    margin-left: 90px;
    margin-top: -2600px;
    opacity: 0.45;
    position: absolute;
    text-align: center;
    width: 100px;
}
#meosite {
    cursor: pointer;
    height: 100px;
    left: 50%;
    margin-left: -60px;
    margin-top: -2350px;
    position: absolute;
    text-align: center;
    width: 300px;
    z-index: 2;
}
#meosite-bg {
    background: none repeat scroll 0 0 #000000;
    border-radius: 100% 100% 100% 100%;
    height: 100px;
    left: 50%;
    margin-left: 40px;
    margin-top: -2360px;
    opacity: 0.45;
    position: absolute;
    text-align: center;
    width: 100px;
}
/******************************************************************************/

/*  SERVICES                                                                  */

/******************************************************************************/

.services-list img {
    display: inline;
    float: left;
    margin-right: 30px;
    display: none;
}
.service-title {
    display: block;
    text-transform: uppercase;
    font-weight: bold;
}
.services-list p {
    margin-bottom: 35px;
}
ul.services-list {
	margin:0;
	padding: 0;
} 

ul.services-list li {
    clear: both;
    margin-bottom: 20px;
    list-style: none outside none;
}
/******************************************************************************/

/*  SHOWCASE                                                                  */

/******************************************************************************/

div.nomargin {
    margin-right: 0px;
}
.pic {
    height: 120px;
    margin-bottom: 15px;
    position: relative;
    width: 110px;
}
.pic a {
    display: block;
    height: 123px;
    width: 100%;
}
.pic-frame {
    background-color: #FFFFFF;
    border: 10px solid white;
    border-radius: 3px 3px 3px 3px;
    color: #A8A8A8;
    float: left;
    font-size: 11px;
    height: 210px;
    line-height: 18px;
    margin: 0 25px 40px 0;
    position: relative;
    text-align: center;
    width: 107px;
    -moz-border-radius: 3px;
    /* Firefox */

-webkit-border-radius: 3px;
    /* Safari, Chrome */

border-radius: 3px;
    /* CSS3 */
}
.pic-frame img {
    width: 110px;
}
.pic-frame span {
    color: #273c66;
}
span.roll {
    position: absolute;
    width: 109px;
    height: 110px;
    background: url(../images/portfolio/portfolio_icon.png) center center no-repeat #000;
    -moz-box-shadow: 0px 0px 4px #000;
    /* Firefox */

-webkit-box-shadow: 0px 0px 4px #000;
    /* Safari, Chrome */

box-shadow: 0px 0px 4px #000;
    /* CSS3 */

z-index: 10;
}
/******************************************************************************/

/*  CONTACT US                                                                */

/******************************************************************************/

.contact-form {} .contact-form label {
    display: block;
    margin-bottom: 5px;
    margin-left: 5px;
    letter-spacing: -0.02em;
    color: #b1b0b0;
}
.contact-form input[type=text] {
    position: relative;
    display: block;
    width: 300px;
    height: 38px;
    margin-bottom: 10px;
    padding-left: 10px;
    font-family: 'Armata', Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 40px;
    background-color: #333333;
    color: #b1b0b0;
    -moz-border-radius: 5px;
    /* Firefox */

-webkit-border-radius: 5px;
    /* Safari, Chrome */

border-radius: 5px;
    /* CSS3 */

border: none;
    outline: none;
}
.contact-form textarea {
    position: relative;
    display: block;
    width: 330px;
    height: 90px;
    margin-bottom: 11px;
    padding: 10px 0 0 10px;
    overflow: auto;
    font-family: 'Armata', Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 40px;
    background-color: #333333;
    color: #b1b0b0;
    -moz-border-radius: 5px;
    /* Firefox */

-webkit-border-radius: 5px;
    /* Safari, Chrome */

border-radius: 5px;
    /* CSS3 */

border: none;
    outline: none;
}
.submit-btn {
    background-color: #FFFFFF;
    border: medium none;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    float: right;
    font-family: 'Armata', Arial, Helvetica, sans-serif;
    margin-top: 10px;
    outline: medium none;
    padding: 0.4em 1em 0.45em;
    position: relative;
    text-decoration: none;
    -moz-border-radius: .5em;
    /* Firefox */

-webkit-border-radius: .5em;
    /* Safari, Chrome */

border-radius: .5em;
    /* CSS3 */
}
.submit-btn: hover {
    text-decoration: none;
    background-color: #b52540;
}
.mail-message-btn {
    position: relative;
    display: inline-block;
    padding: .3em 1.8em .3em;
    text-decoration: none;
    background-color: #ac1f39;
    color: #ffffff;
    -moz-border-radius: .5em;
    /* Firefox */

-webkit-border-radius: .5em;
    /* Safari, Chrome */

border-radius: .5em;
    /* CSS3 */

border: none;
    outline: none;
    cursor: pointer;
}
.mail-message-btn: hover {
    text-decoration: none;
    background-color: #b52540;
}
#mail-message {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    z-index: 210;
}
#mail-message table {
    width: 100%;
    height: 100%;
    text-align: center;
}
#mail-message-window {
    width: 400px;
    padding-bottom: 20px;
    border: solid 0px #ffffff;
    background: #000000 url('../images/bg.png') repeat top left;
    margin: 0 auto;
}
#mail-message-header {
    width: 400px;
    height: 70px;
}
.mail-message-success {
    background: transparent url('../images/success.png') no-repeat top left;
}
.mail-message-error {
    background: transparent url('../images/error.png') no-repeat top left;
}
#mail-message-window p {
    margin: 0 0 5px 10px;
    text-align: left;
}
#mail-message-window input {
    margin-top: 10px;
}
#mail-message td {
    vertical-align: middle;
}
.socio_contact {} .socio_contact ul {
    width: 229px;
    line-height: normal;
}
.socio_contact ul li {
    float: left;
    margin-right: 11px;
}
.socio_contact ul li.last {
    margin-right: 0px;
}
.socio_contact ul li a {
    display: block;
    height: 37px;
    width: 37px;
}
.socio_contact ul li a: active {
    background-position: left bottom;
}
.socio_contact ul li a: hover {
    background-position: left bottom;
}
a.socio_contact_twitter {
    background: transparent url('../images/socio/contact_twitter_icon.png') no-repeat;
}
a.socio_contact_facebook {
    background: transparent url('../images/socio/contact_facebook_icon.png') no-repeat;
}
a.socio_contact_dribbble {
    background: transparent url('../images/socio/contact_dribbble_icon.png') no-repeat;
}
a.socio_contact_behance {
    background: transparent url('../images/socio/contact_behance_icon.png') no-repeat;
}
a.socio_contact_flickr {
    background: transparent url('../images/socio/contact_flickr_icon.png') no-repeat;
}
/******************************************************************************/

/*  FOOTER                                                                    */

/******************************************************************************/

.footer {
    width: 100%;
    padding-top: 20px;
    text-align: center;
    color: #1e1e1e;
    display: none;
}
.footer_logo img {
    width: 65px;
    height: 65px;
    margin: 0 auto 20px auto;
}
/******************************************************************************/

/*  MASK                                                                      */

/******************************************************************************/

#mask {
    position: absolute;
    display: none;
    background-color: #000;
    z-index: 200;
}
b {
    font-weight: bold;
    color: #ffffff;
}
: : selection {
    color: #ffffff;
    background-color: #000000;
}
: : -moz-selection {
    color: #ffffff;
    background-color: #000000;
}
: : -webkit-selection {
    color: #ffffff;
    background-color: #000000;
}